/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*Стили для основной темы и основной ширины экрана пишите в файле style.css. 
Ниже в этом же файле вы напишете медиавыражения для адаптива под разные экраны.*/

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  
  background-image: var(--bg-image-page);
  background-color: var(--bg-color-page);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /*чтобы фон оставался на месте при прокрутке страницы*/
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr min-content 1fr;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  /* padding: 75px 10px 66px; */
}

.header,
.footer {
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: inline-block;
  border-right: 1px solid var(--decorated-color);
  border-top: 1px solid var(--decorated-color);
  width: 25px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px; /*Подогнать число*/
}

.decorated-zone::after {
  content: '';
  display: inline-block;
  border-left: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
  width: 25px;
  height: 24px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.header_decoration {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-s);
  font-size: var(--size);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  position: absolute;
  right: 20px;
  top: 10px;
  display: var(--display-rec);
}

.header_decoration::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  /* left: 347px;
  top: 18px; */
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  /* gap: 13px; */
  gap: 9px;
  list-style: none;
  /* padding-right: 8px; */
}

.header__theme-menu-item {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-s);
  font-size: var(--size);
  line-height: 100%;
  text-align: center;
  color: var(--decorated-color);
  min-height: 23px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  cursor: pointer;
  padding: 2px 13px 7px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-outline-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  display: inline-block;
  border-bottom: 1px solid var(--decorated-color);

  /* position: absolute;
  width:04px;
  height: 1p 1x;
  left: 699px;
  top: 147px;
  color: #FF0070; */
}

/* .header__theme-menu-button:active {
  outline: 1px solid var(--decorated-color);
} */

.header__theme-menu-button_active {
  pointer-events: none;
  /* margin: 1.5px; */
  border: 1px solid var(--decorated-color);
}

.header_title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-l);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--focuse-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  align-self: end;
}

.header_text {
  color: var(--titles-color);
}

.title-decor {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-l);
  font-size: var(--size);
  line-height: 130%;
  /* or 23px */
  background-color: var(--accent-color);
}

.content {
  padding: 40px 10px 0;
  background-color: var(--bg-color-page);
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section_title {
    font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-l);
  font-size: var(--size);
  line-height: 130%; /* or 23px */
  color: var(--section_title-color);
}

.section_block {
  display: grid;
  gap: 20px;
}

.section_block-part {
  display: grid;
  gap: 10px;
  break-inside: avoid;
}

.section_block-title {
  color: var(--titles-color);
}

.section_block-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-s);
  font-size: var(--size);
  line-height: 130%;
  color: var(--text-color);
}

.section_block-link {
  text-decoration: none;
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-s);
  font-size: var(--size);
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.section_block-link:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid var(--text-color);
}

.section_block-link::focus {
  outline: none;
}

.section_block-link::focus-visible {
  outline: 1px solid rgba(--text-color);
}

.section_block-title-different {
  font-weight: var(--weight-s);
  font-style: normal;
  color: var(--titles-color);
}

.section:last-of-type {
  padding-bottom: 40px;
}

.section_img {
  max-inline-size: 100%;
  object-fit: cover;
  /* max-inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center; */
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--bg-color-page);
}

.footer_title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
  font-weight: var(--weight-l);
  font-size: 116px;
  line-height: 82.5%;
  color: var(--focuse-color);
  /* color: #DB00FF; */
  text-shadow: 2px 2px 0px var(--accent-color);
}


@media (width >= 760px) {
  .header,
  .footer {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px; /*Подогнать число*/
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header_decoration {
    right: 30px;
    top: 20px;
  }

  .header_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: -20px;
    /* margin-left: -20px; */
  }
  
  .header_text {
    justify-self: end;
    inline-size: 50%;
  }

  .content {
    padding: 60px 20px 0;
    gap: 80px;
  }

  .section-split {
    columns: 2;
    grid-template-columns: 1fr 2fr;
  }

  .section_title {
    max-width: 236px;
  }

  .section-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    margin: 0;
    box-sizing: border-box;
  }

  .section_img {
    /* width: 100%;
    height: 100%; */

    block-size: 100%;
    max-block-size: 100%;
  }

  .section_img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .section_img:nth-child(2) {
    grid-row: span 2;
  }

  .section_img:nth-child(3) {
    grid-row: span 2;
  }

  .section_img:nth-child(5) {
    grid-column: span 2;
  }

  .section:last-of-type {
    padding-bottom: 60px;
  }

  /* .gallery__item {
    box-sizing: border-box;
    margin: 0;
  } */

  /* .gallery__image {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  } */

  .footer_title {
    font-size: 120px;
  }
}

@media (width >= 1020px) {
  .header,
  .footer {
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-right: 0;
  }

  .header_title {
    font-size: 157px;
    /* font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); */ /*почему-то не работает*/
    /* margin-left: -20px; */
    /* margin-inline-start: -237px; */
    /* margin-left: -129px; */
  }
  
  .header_text {  
    /* justify-self: end;
    inline-size: 75%; */
    /* min-width: 89%; */
    /* margin-inline-end: -216px; */

    max-width: 50%;
  }

  .section-split {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }

  .section_title {
    max-width: 315px;
  }

  .div_section-what {
    columns: 3;
    display: block;
  }

  .footer_title {
    font-size: 157px;
  }
}
